## IMPORT LIBRARIES AND MODEL

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

## DATA GATHERING

In [3]:
heart = pd.read_csv("E:\Dataset\heart.csv")
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

## DATA PROCESSING

In [4]:
#CHECKED NUMBER OF ROWS AND COLUMNS
heart.shape

(1025, 14)

In [180]:
# Getting some info about the dataset

heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [181]:
# Checking for missing values in dataset
heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [182]:
heart.isnull().mean().value_counts()

0.0    14
dtype: int64

In [183]:
# Statistics measures of data
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
#checking the distribution of target  variables
heart['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

In [11]:
#Understanding data
#529 people in our dataseet have heart disease and 499 people has not heart disease

In [184]:
X = heart.drop(columns = 'target' , axis = 1)
y = heart['target']
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [185]:
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

## Splitting the data into Train data and Test data

In [186]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2,stratify=y)

In [187]:
print("X_train Data ",X_train.shape)
print("Y_train Data ",y_train.shape)
print("X_test Data",X_test.shape)
print("y_test Data ",y_test.shape)

X_train Data  (820, 13)
Y_train Data  (820,)
X_test Data (205, 13)
y_test Data  (205,)

## Model Training
## Logistic Regression

In [188]:
## training the logistic Regression model with train data
model = LogisticRegression()
model.fit(X_train,y_train)

c:\Users\fahad\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Model Evaluation
## Accuracy Score

In [189]:
# Accuracy on training data
X_train_Prediction = model.predict(X_train)
training_data_accuracy = accuracy_score( X_train_Prediction , y_train )
print("Accuracy on training Data : ",training_data_accuracy)

Accuracy on training Data :  0.8524390243902439

In [190]:
# Accuracy on test data
X_test_Prediction = model.predict(X_test)
test_data_accuracy = accuracy_score( X_test_Prediction , y_test )
print("Accuracy on test Data : ",test_data_accuracy)

Accuracy on test Data :  0.8048780487804879

In [191]:
y_pred = model.predict(X_test)

In [192]:
#3 import Dump library to Model Deployement on Django
from joblib import dump

In [193]:
dump(model, './../savedModels/model.joblib')

['./../savedModels/model.joblib']

## Doctor Recommendation System

### This System based on customer location to predict the nearest doctor .

### Making Scratch Dataset About Doctor

In [13]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

doctor_Location = np.array(['Karachi','Lahore','Islamabad','Peshawar','Multan','Quetta','Muree','Swat','Hyderabad'])[np.random.randint(0,9,50)]

In [14]:
df = pd.read_excel("E:\Dataset\doctor.xlsx")
df.columns=['Doctor_Name','Gender','Image','Contact_No']
df.head()

,Doctor_Name,Gender,Image,Contact_No
0,Dr Nasreen,Female,https://encrypted-tbn0.gstatic.com/images?q=tb...,4234567777
1,Dr Ali,Male,https://media.istockphoto.com/photos/indian-ma...,3315478547
2,Dr Hamza,Male,https://imonkey-blog.imgix.net/blog/wp-content...,3325874587
3,Dr Asma,Female,https://encrypted-tbn0.gstatic.com/images?q=tb...,3322685478
4,Dr Farah,Female,https://encrypted-tbn0.gstatic.com/images?q=tb...,3322578412

In [15]:
df.value_counts().sum()

50

In [16]:
doctor_Age = np.array(np.random.randint(24,100,50))

In [17]:
doctor_Qualification = np.array(['MBBS_Cardiologist_Specialist'])[np.random.randint(0,1,50)]

In [18]:
index = np.arange(0,50)
index

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [19]:
df.insert(0,"Index",index,True)
df.insert(3,"Age",doctor_Age,True)
df.insert(6,"Qualification",doctor_Qualification,True)
df.insert(7,"Location",doctor_Location,True)

In [20]:
df.head()

,Index,Doctor_Name,Gender,Age,Image,Contact_No,Qualification,Location
0,0,Dr Nasreen,Female,74,https://encrypted-tbn0.gstatic.com/images?q=tb...,4234567777,MBBS_Cardiologist_Specialist,Swat
1,1,Dr Ali,Male,79,https://media.istockphoto.com/photos/indian-ma...,3315478547,MBBS_Cardiologist_Specialist,Islamabad
2,2,Dr Hamza,Male,87,https://imonkey-blog.imgix.net/blog/wp-content...,3325874587,MBBS_Cardiologist_Specialist,Islamabad
3,3,Dr Asma,Female,47,https://encrypted-tbn0.gstatic.com/images?q=tb...,3322685478,MBBS_Cardiologist_Specialist,Quetta
4,4,Dr Farah,Female,64,https://encrypted-tbn0.gstatic.com/images?q=tb...,3322578412,MBBS_Cardiologist_Specialist,Multan

In [21]:
df.isnull().sum()

Index            0
Doctor_Name      0
Gender           0
Age              0
Image            0
Contact_No       0
Qualification    0
Location         0
dtype: int64

In [22]:
df.value_counts().sum()

50

In [23]:
combined_features = df['Doctor_Name']+' '+df['Location']
combined_features

0           Dr Nasreen Swat
1          Dr Ali Islamabad
2        Dr Hamza Islamabad
3            Dr Asma Quetta
4           Dr Farah Multan
5      Dr Kashif  Islamabad
6          Dr Ismail Lahore
7            Dr Huma Lahore
8           Dr Tanib Quetta
9        Dr Sameer Peshawar
10         Dr Rafy' Karachi
11            Dr Ana Quetta
12          Dr Hafsa Lahore
13         Dr Rehan Karachi
14     Dr Manahil Islamabad
15      Dr Rahima Hyderabad
16        Dr Fahad Peshawar
17             Dr Ahad Swat
18            Dr Noor Muree
19         Dr Afsha Karachi
20      Dr Huzaifa Peshawar
21        Dr Saad Hyderabad
22        Dr Ansha Peshawar
23    Dr Sharjeel Islamabad
24       Dr Rubab Islamabad
25         Dr Amna Peshawar
26     Dr Malaika Hyderabad
27         Dr Ramsha Multan
28        Dr Maham Peshawar
29     Dr Faizyab Islamabad
30      Dr Zohaib Islamabad
31          Dr Anaya Quetta
32          Dr Kainat Muree
33           Dr Majid Muree
34      Dr Wahaj  Islamabad
35       Dr Maliha Peshawar
36         Dr Kashaf Multan
37         Dr Hammad Multan
38           Dr Atiya Muree
39            Dr Amir Muree
40          Dr Affan Quetta
41          Dr Samia Lahore
42          Dr Duaa Karachi
43         Dr Asad Peshawar
44         Dr Sallar Multan
45          Dr Faria Multan
46          Dr Arham Quetta
47         Dr Kashif Multan
48        Dr Laiba Peshawar
49     Dr Yasmeen Hyderabad
dtype: object

In [24]:
#converting the text data into feature extraction
vectorizer = TfidfVectorizer()

In [25]:
feature_vector = vectorizer.fit_transform(combined_features)
print(feature_vector)

  (0, 54)	0.6607032672283722
  (0, 40)	0.7305903561089229
  (0, 13)	0.17236276928151137
  (1, 25)	0.5168375396472056
  (1, 3)	0.8332094798739856
  (1, 13)	0.19657293877730378
  (2, 21)	0.8332094798739856
  (2, 25)	0.5168375396472056
  (2, 13)	0.19657293877730378
  (3, 43)	0.5654769115320893
  (3, 11)	0.8027269402690245
  (3, 13)	0.1893814190739406
  (4, 38)	0.5479026600459186
  (4, 17)	0.8141902089244116
  (4, 13)	0.19208586310873962
  (5, 30)	0.806207800445761
  (5, 25)	0.5529862395124981
  (5, 13)	0.21032166177128322
  (6, 31)	0.6065351759971543
  (6, 26)	0.7738132323563633
  (6, 13)	0.1825600222072127
  (7, 22)	0.7738132323563633
  (7, 31)	0.6065351759971543
  (7, 13)	0.1825600222072127
  (8, 55)	0.8027269402690245
  :	:
  (41, 13)	0.1825600222072127
  (42, 14)	0.7738132323563633
  (42, 28)	0.6065351759971543
  (42, 13)	0.1825600222072127
  (43, 10)	0.8332094798739856
  (43, 42)	0.5168375396472056
  (43, 13)	0.19657293877730378
  (44, 50)	0.8141902089244116
  (44, 38)	0.5479026600459186
  (44, 13)	0.19208586310873962
  (45, 18)	0.8141902089244116
  (45, 38)	0.5479026600459186
  (45, 13)	0.19208586310873962
  (46, 9)	0.8027269402690245
  (46, 43)	0.5654769115320893
  (46, 13)	0.1893814190739406
  (47, 30)	0.7852436571259499
  (47, 38)	0.584318250548907
  (47, 13)	0.20485258362766304
  (48, 32)	0.8332094798739856
  (48, 42)	0.5168375396472056
  (48, 13)	0.19657293877730378
  (49, 57)	0.7738132323563633
  (49, 24)	0.6065351759971543
  (49, 13)	0.1825600222072127

In [26]:
## getting the similarity score using cosine similarity
similarity = cosine_similarity(feature_vector)

In [27]:
print(similarity)

[[1.         0.03388186 0.03388186 ... 0.03530896 0.03388186 0.03146655]
 [0.03388186 1.         0.30576196 ... 0.04026847 0.03864092 0.03588636]
 [0.03388186 0.30576196 1.         ... 0.04026847 0.03864092 0.03588636]
 ...
 [0.03530896 0.04026847 0.04026847 ... 1.         0.04026847 0.03739789]
 [0.03388186 0.03864092 0.03864092 ... 0.04026847 1.         0.03588636]
 [0.03146655 0.03588636 0.03588636 ... 0.03739789 0.03588636 1.        ]]

In [28]:
print(similarity.shape)

(50, 50)

In [29]:
# creating a list of all the location name given in the dataset

# getting the location from the user

In [30]:
list_of_all_location = df["Location"].tolist()
print(list_of_all_location)

['Swat', 'Islamabad', 'Islamabad', 'Quetta', 'Multan', 'Islamabad', 'Lahore', 'Lahore', 'Quetta', 'Peshawar', 'Karachi', 'Quetta', 'Lahore', 'Karachi', 'Islamabad', 'Hyderabad', 'Peshawar', 'Swat', 'Muree', 'Karachi', 'Peshawar', 'Hyderabad', 'Peshawar', 'Islamabad', 'Islamabad', 'Peshawar', 'Hyderabad', 'Multan', 'Peshawar', 'Islamabad', 'Islamabad', 'Quetta', 'Muree', 'Muree', 'Islamabad', 'Peshawar', 'Multan', 'Multan', 'Muree', 'Muree', 'Quetta', 'Lahore', 'Karachi', 'Peshawar', 'Multan', 'Multan', 'Quetta', 'Multan', 'Peshawar', 'Hyderabad']

In [31]:
#finding the close match for the location name given by the user
finding_close_match = difflib.get_close_matches('Hyderabad',list_of_all_location)
print(finding_close_match)

['Hyderabad', 'Hyderabad', 'Hyderabad']

In [32]:
close_match = finding_close_match[0]
print(close_match)

Hyderabad

In [33]:
#find the index of the doctor with location
index_of_the_doctor = df[df.Location == close_match]['Index'].values[0]
print(index_of_the_doctor)

15

In [34]:
similarity_score = list(enumerate(similarity[index_of_the_doctor]))

In [35]:
#Sorting the location  based on their similarity score

sorted_similar_location = sorted(similarity_score , key = lambda x:x[1], reverse = True)
print(sorted_similar_location)

[(15, 1.0), (21, 0.401213081430197), (26, 0.401213081430197), (49, 0.401213081430197), (5, 0.038396327243623345), (47, 0.037397892216271066), (1, 0.03588636006852164), (2, 0.03588636006852164), (9, 0.03588636006852164), (14, 0.03588636006852164), (16, 0.03588636006852164), (20, 0.03588636006852164), (22, 0.03588636006852164), (23, 0.03588636006852164), (24, 0.03588636006852164), (25, 0.03588636006852164), (28, 0.03588636006852164), (29, 0.03588636006852164), (30, 0.03588636006852164), (34, 0.03588636006852164), (35, 0.03588636006852164), (43, 0.03588636006852164), (48, 0.03588636006852164), (4, 0.03506719943482313), (27, 0.03506719943482313), (36, 0.03506719943482313), (37, 0.03506719943482313), (44, 0.03506719943482313), (45, 0.03506719943482313), (3, 0.03457347607177206), (8, 0.03457347607177206), (11, 0.03457347607177206), (31, 0.03457347607177206), (40, 0.03457347607177206), (46, 0.03457347607177206), (18, 0.0340024645282669), (32, 0.0340024645282669), (33, 0.0340024645282669), (38, 0.0340024645282669), (39, 0.0340024645282669), (6, 0.033328161708298), (7, 0.033328161708298), (10, 0.033328161708298), (12, 0.033328161708298), (13, 0.033328161708298), (19, 0.033328161708298), (41, 0.033328161708298), (42, 0.033328161708298), (0, 0.031466550987729394), (17, 0.031466550987729394)]

In [36]:
#print the name of the similar location based on the index
print("Doctors Suggested For You : \n") 
i = 1
for title in sorted_similar_location:
    index = title[0]
    Name_of_index = df[df.index == index]['Doctor_Name'].values[0]
    if( i<=8):
        print(i , "." , Name_of_index)
        i+=1

Doctors Suggested For You :

1 . Dr Rahima
2 . Dr Saad
3 . Dr Malaika
4 . Dr Yasmeen
5 . Dr Kashif
6 . Dr Kashif
7 . Dr Ali
8 . Dr Hamza

In [37]:
##Recommendation System
def recommendation(patient_location):

    list_of_all_location = df['Location'].tolist()
    finding_close_match = difflib.get_close_matches(patient_location,list_of_all_location)
    close_match = finding_close_match[0]
    index_of_the_doctor = df[df.Location == close_match]['Index'].values[0]
    similarity_score = list(enumerate(similarity[index_of_the_doctor]))
    sorted_similar_location = sorted(similarity_score , key = lambda x:x[1], reverse = True)
    
    data = []
    i = 1
    for title in sorted_similar_location:
         index = title[0]

         Name_Index = df[df.index == index]['Doctor_Name'].values[0]
         Gender_Index = df[df.index == index]['Gender'].values[0] 
         Age_Index = df[df.index == index]['Age'].values[0]
         Contact_Index = df[df.index == index]['Contact_No'].values[0] 
         Qualification_Index = df[df.index == index]['Qualification'].values[0]
         Location_Index = df[df.index == index]['Location'].values[0] 
         Image_Index = df[df.index == index]['Image'].values[0] 
         
         item = []
         if( i<=8):
             print(i,Name_Index,Gender_Index,Age_Index,Contact_Index,Qualification_Index,Location_Index,Image_Index)
             item.append(Name_Index)
             item.append(Gender_Index)
             item.append(Age_Index)
             item.append(Contact_Index)
             item.append(Qualification_Index)
             item.append(Location_Index)   
             item.append(Image_Index)
            
             data.append(item)
             i+=1
    return data

In [38]:
recommendation('Multan')

1 Dr Farah Female 64 3322578412 MBBS_Cardiologist_Specialist Multan https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjy54R-AknqoLrtu3k3LQffRll6BXm7y1YdTzjWdS34tQz2UrwKFlLaKEheFV3pmurMxs&usqp=CAU
2 Dr Kashif Male 37 3365687412 MBBS_Cardiologist_Specialist Multan https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZM1dQ8crjbgC40Zw_c69n9ppCe63Lm6H4JhQMB8InLV_5Lv0NyXr2GSKWpbzQxT2ZEWU&usqp=CAU
3 Dr Ramsha Female 62 3369874587 MBBS_Cardiologist_Specialist Multan https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI0zZ0HTExM_4lbMI84sR7rXvwOOliI_kKNw&usqp=CAU
4 Dr Kashaf Female 83 3366545120 MBBS_Cardiologist_Specialist Multan data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBISFRISERIQEhISERIREhIREhIREhIYGBgZGRgUGBgcIS4lHB4rJBgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHxISHzQhJCsxNDQ2NDQ0NDQ0NDQxNDQ2NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDE0NDQxNDQ0Mf/AABEIALcBEwMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAACAAEDBAUGB//EAD4QAAIBAgQEAwUGAwcFAQAAAAECAAMRBBIhMQVBUWETIoEGcZGhsRQyUnLB8CNC0TNikqKywuEHFkNTghX/xAAZAQADAQEBAAAAAAAAAAAAAAAAAQIDBAX/xAAiEQACAgEFAQEBAQEAAAAAAAAAAQIRMQMSEyFRQQRhgSL/2gAMAwEAAhEDEQA/AOqAjiIR5sQKIxRQAYCVK1FSdRLiwKySZSrAJJ5KZwydISYZOkLLEFk8jHsiSrh0kq4dJCoMkW8parJ44kv2ZIvsyRLDErkYuOPgIwqdoYwqdo0cEx8jFxx8H+yp2j/ZE7QbmPcw5WHHHwf7InaMcKnaK5j6w5WLjj4OuDTtJBhU7SLMYrt1j5WHFHwm+yp2i+yp2kN26xXbrDmYcUfCX7KvaC2ETtBBbrFr1hzMOKPgQwSdo/2FO0DXrFmbrDmYcUfAjgE7QfsK9oxZusbM3WHMw4Y+AtgE7SN8AnaSkt1jWMOZhwx8IlohNBDiaNJu3ZqlSpCMYxExiYDBtFGzDrFAAhHjCKIB4owjmADrHq7Rlj1dpMsAiqYhHMaZjCWGDIwYQMBEoMINIs1tToB1nMca9pQuZabBVXd+Z/KJVhR0+IxlOmL1HVR/eIEz/wDuPC/+1dN9DPLcbxd6jE3OW/U3PvMqPiyb9Tz5xphR7JT47hj/AOVB7zNClVVxmUhgdiJ4VTxBHUepnQ8E43UoMCrErzQ/db05HvCwqz1e8e8z+F8Sp4hA6H8y81PQy9eFioKKDeK8Yg4oN494AFHgXj3gAUUG8eACjWj3jQAQjNFeMYFEbwY7bwTGgMdBUqPUAqZQrWAkGNrVErUxmOXQN3hYbCu71GVyvn290bHr56h3KKp+E6FV0crur/oeKxADtrzilemucB/xC8UKQ+SR0UUaPOc6RCFaDCggHEartHECrFIEQmDHMaZjFCBgQatQKpY6AAk+kAMP2q4mUQU0PmcXbsvSeb4/FFjYHTl+pmpx/iRqO7fiJAHQDQCYKLmMB/welTYwnoMOU0MPS2mimGvymctSmbR0rRzqNbQ/0l6gLd/lNN+EBjCPA6iIWQ5gBfLFzRYcMkaPs5xE0qqsScjHI/uPM+42M9HBnjWGxGtiLE6EdCOX6T1TgGK8TD0nvchcjHuul/lNIS7oznHqzSvHvBBjzQzCvFeDeODAkK8V414rxgFeK8G8UCgoo14rwARjRREwAiaCYTRo0Bkrw+orsyvYM17SdsDcuWP31ymX4xlubM1pxRToYUIoXoLRS1FJ3MrYhxFeMDHEkoQhwYUEDEIFUwxI6sUgRCY0RikDFMH2nxwp02F7XFvftp8xNuo1hpv9O8819tcV/F8MEnIozE6ksbk+7c6e6A0c7iapYkyzg0YC4A97bSthKBqOFE18Rw8gWvp2kydFRi32QLWqA6Mh7TVweNJsHABvyMx0wpU3y3sLajSPh1YMN9NJlNKSNouUWdgCqAO5sN5ocP4lhqnlWogPQ+X6zA9pHqKlIIPIUFz3mZwkCxerTzKCBoDm156DbvfS/qMlC1bN5TqVIt+1fDfAcVUHkqGxH4XGoPqJ1XsHiM1GoL7VbjtmUafIzB9rdMNTynNTNUZL6sq5GOUnsZrf9OKRGGdzs9Uhe4VQCfjcek30e0mc2t02jsbxAwQY83OcK8e8CEIwCvFeNFAArx7wRFAArxRooAPGMURjAiaNEYoIBRjHjGMAYo0UQwo6xowMADvHgxXghBCR1YYkdUyZDRCYoxjTMYmE8r9s6RGJqHk2Q/K3+0z1QzjfbjhxZRUUXykZvcdL+h/1E8pQHMez9L+Jr+EzaxNvWQYDAin4dQOW8RWBGWwXTTn74qjXb1mGo+zq0UqJqihULc7ae+ZuGykgXJZrHbY8xHxmKYHKASo3taLAVF3yuDcZWy3APTTnM0mo2aupSo7DHtT8KmDle2RGFwSpI009JLw3hdPRkJA3KjYzPx/gvTBRkzjXkrFgNiN77zT4E5y3udQNOQ7zLc1k22plH2wpLkoUwt89X7o0uApB2/MPjOo4fhEoU6dJNFpqFF9z1J7k3Mza2E8WvTqN9yjrY82Oo/T4CbIM6tG9tnD+it1LIQMIGCIgZucwV44MG8cRgFePeBAqVlXc2hYE4MeV0xSNsRJgYWAUUa8V4wCgloD1Qu8jLq2xgKwiYo0eCKFEYoxjEBFFFAYcYRRhEwDig5orwsQQMiqmSAyKqZMhoijR7xpAxMZSxKBlOYZt/KdrHlbnL2TS5IA6mY/FMYEUhCGIH3uvaxlbXkLRzuO4fUo6qf4dyVU65P7oPMb7zKqPc3ELEcYrVHCVGOQKwK6AZtwT6Sk7EG8ymrZvpOkWlpa6zXwGFykG3MHSYdDFWIvN3CcRTy3JFh0mE7R1adGrj8EtZB5dVIKkaG/vlmi4pUmcKWKIzBF+85AJyjvpKj8VUgKv/JmSmOL4gO7umFpstO4TNTZm0OY+tufpM4Rc5U8D1J7ItrJ2XC6/iJnVldHAZSuh1AuDL95Tw1AITkJy3+5oVU7m3MXve0tz0Eq6PNbt2wwY94IijJDvEDGjwAe8y+J4FqhHmIUHW3OakF1uLRSSkqYn2YxFOiB5tRLWC4lnNhsOcxfaDDZLEMb3lPAV6gOVdzObdKMqXSJwdqK69Y9SsFF7zn0o1ALsT1hVBUqLkFwNiZ0xk2gcv4aVakalmB0h08KV5ybB0siBTyEmMpFKKyRiPGilFDypxBqgW9PcamWpDiT5G9xjWSZLo56lj67AMANb8z1ihcPX+Gnr9TFOio+HJul6zowY4kaDWSXnMdoxiMYvImrjaSwJlMjqmCaw5GVq9eQxk15FWxdOkM1Rgo7mw9TFSfN75S4nT8QinbTQEm253/faEV9AWP4opW+cBR6Tl8XxGmb5b2PYzU4syqPDUKwAGrgEeg/rOYq4oKfuIR2UD6SJzk3RrGCqypxNLGnWS+VvK3Y9D84KODNCg1KoGW+UOLMh27MpOxG4jcP9nq9TMbolNSRne/m/KBJ3X0y0trKKLraW6aAamWzwCpc5alNrakeYG3bTWBW4aVW/iKWuPKBb53kSRpGRUxOMyjKmhOl+ct8Fp06jfZ6zuumYLluztl8t78gDe3P5yBKaUyCt3qb35D3S0+H+0smcMtRbBaiNZyBtmuDe3WTGcU/P6KcZSNXA8XbD1DRxGVKWiLUpBqZQbK5UkqwtYE20nT4bEOC9OoQxRVdaiKclRHzZX00UjKwPLYjeceOIU6RNOu7Ymi1O12pqzU3OmXOLXsATfU7TWwdAUyjJUr1aIpU0UOQtPym+XILHTfzDmek7FNOv6crjR1Ee8jpOGF7EcuxPaHCqJCvHBgXhAwEJ3Ci5lYcQXtDxNLOpE52u/hkr0+UcVbIlJotcQtVMgwNDwySdY2FqZpqUcOWBMHCOSIttktBzUGotBxLmmLrb6StV4ilJWuRcTm6vG6lRrDRb9L3kWjQ1a3tC6tYqRL3DOMGobNzlZeD+IgY72vKOBw1SnVVWFxfeZ7pJ9jR2N48FYp0IoKQYlSUYDcgiSxmhYMx8HgmVFB3A1imrFK3sz4kEkIwRHi+FkTqZSq4ck3miZGwkNFJmZRzZrHrLXgZjuAOZPKVK1TK4A1JNhLWNewVb9zbnEkvuENt/A6ldaYyp6ud/TpMqu5ba9wbgw3aA+3eOU76XSFGNZyYXG6zZvKhIIF7a6zHRqjGwpnU2FyF+s1+Nsaas43EoL4hIZFzLdTe9iOcwkdEWjRwnB0JDVAh20Uf7p0VJUUCw0GnmJI+cw0xTggZBqAbk3+UnWo7G5sfjpMrYzYdlKlVsCRa4AsPTnMetwFnBy1Lj8JFge15Fjfta+aj4bJzGQl076mxHe39ZcwFeuQPEH+Em3rbSTJJ5KjawZNPhuUkbEGxEu0qC0ySVckgjQHmOs6XB0kfqrdRbX4yfE0EVGLXbKrHzEm2nec8tKTVtmqmk6o5AVAw8N3tTuCad85JBuCx5TosFhQ6Zl0TTprblaZfDOHGs5CgWtqeQ/fSdNRpimPD2AGh/WX+aMnJSeETrSio0i7gSmQJlGUG1v1kOIw+W5W5Ub9RHwqkXXt/yDJ8BUDFgeY1HaemmqOJrsz48PEU8jFeh07jlI4iAiZzfF8GzPdDqd+k3MWpKmxtpMT/9FKd8zXYct4nKhSSeStVovQTOdbambnDKxqIG2uJn4nGCqgA5zUwKBEA7RW3LPQkksHL+0GFBcWO51ELg/C1LgnlI+LsfFPyl3htbIMx2EmknYr7OmqOKaachMrCP4j3Nu0o43jashCm55CQcGxDs4B6SXNOSRf060R4IjzpQx5FiKgRSx2AvJLzP421qNT8scVbomTpNlJeIVm8y0/KdRFNDB0xkT8oil2vDOpelwGKCIiZBqFI6kOA0TGZqU/O1Q7ICF/MefoPrBrtc37Q6zjYc5Gx0kS6VFLJGBGYfKGnXpAXaR9oowvaFbpbvf4TK4NjcqhjfLbI4GpFuY/fOa3tGwCEnpb46frMT2cwPiZ3ckoCFsCbFrC7H0t8Yq6HupnSBVddx1RhqNf0hojKpNi1uSea/oNZTd0pqcjCwIGXzMPltKbcZfy5AtyWBvmHutYzBp/DdGseL06di3iI29mpVAf8ATLFHjGGKl0bI1wMrq9MMTp5cwt6TExQqNTap4j2y51FyVW1rix7SrRU2XO4ZQgY+W7FmPIL0bINRpa/WCg5RsJSUXRfq+2NXOiUVpZSxDM4LlgBfS2W2/SNxLi+JrIueplDVLZaYKghevM8ufKYZscTYXtTS/e5Aa+vPzfKb9NhfC0x1pM4ACgB3Ulr89z8DOl6UVpp12zn3tyZ1/smmWmmmoPPnsDNXiFPW498r8Lo5Bk6E2mnilvBLqgbt2UcLW0BPI2PbvJMD/b1LbKMvxsRIESx98uUmAYHmy3PYAaRWMfilO4Vxy8p93L995nTbyZ1Kn+YEf0MwyLaHcaGUmZyRFiycjW3tPO6yMHYtoSxJnpBnIe0fDqhfOi301tFJfSGBwuoWdQBcc52KCwHunJ+ylB7kupHS4nXkQj2gSMfjHDlYFxvyM59ywXKefznV4xjovWUeJ8OuFyjUTPVi2rQzDwPD897TY4XgHR7kaCaXDMIKajTWXYR0V1J5Ae8UG8e86EUPKnE6JqU3UbkS1eCTGnXZLVqjHocTZVClGuBY6R5p5B0EePevCdsvSQGPBvEDBlBSvi3stubkL6c/lJryhjX86j8Iv6mJjKGJq+bSSkyniW1JlpToPcJjJ2WkGzWEFdFg1W5Q30EIjkcj7W4j+zpjdmuR2H/P0gYJMiJTBsBqRfS51P77Sri6lOriGLG+VsqqTo1r6/v8UtYfVgfWRN0qL0lbs0EQEMva/umOKRDBeZc2/Sa+GcZiJSxaWcW/Gv1mK6Ohm3hqQeky8nUgA8ri1pzNGqchsSpAvdB57c7b3HI6ba62tO3w2DdVOlgbOBz824+Ov/1PPw9jUuNVaqgNtVILC4Hy9Z0/mjuUo/6c+u+0wMLXBqu5v9wAX+8bAKLnrpNzE1Cy02y2ORGynRhlZSR8vTSc/gkW9TMbWC26k6zpHdtGK2ZfFQZhc+UsAQNL8zYdTN/0f8xijGHbZ6RwisK1OjV3LIA5/vDRwfUGaVcaD3fScx7BVw1Goo/kxBFiLFSURrfMH1nVVluP3zmKdoszSsmCWObqqgfUxiskxLWK9lEljRNQfU9pm8RTK56NZvjv85dwf3b/AIm+Uh4qLqje8f0+kcWTJdGW9dV3MgbF02OXQ3mBxtamfc5TppLfDaOQBmv6yFqNy20ZWayuiaAbyyrXExMZi8puBeR4fi5H3haaKQWajnM4HSXCLzIwOMVnJJ1mrmjTGFGJjXjXlDCvFeDeKCGFeMY94JlMBopGWiioCWOJHmjhpRId5k13uxbqT8BoJoVamVWbopMxA/ltz3kyZSRFW1BllG0X8o+kqsdIdOqLLcgX0AJ3tyEwyaE19R743EK3ho7fhRj8BFTN2Hxmf7R1bUnH4yqAdcx1HwvLXSJZyPDkOa7WOmbvta4+c2MJSZiSFJt8PjK/CMMC9QvZmVBa33SGJN/8s3qZteZ6uTTSdIpYTCNnuzW15a/OW8XgfMGU7EGxHSKg3mlvGtZbiZSRqmzqaI8qEdCvx2+YE8jx6WqV9LXqVD/mv/uE9Z4c+akp5jKfgAZ5NxSoDVYrezFjz1zIup/wzp/M2pow1cA8N2a2pZ0W3PfT6zfaoXALLlPikAHW4azAg2A1Fjp8SQb4PDAcqeV2zVDolw+gOoO+m+k3DULBwVZGSoN7G+gNz1uB77d5f6JW0RBHU/8AT+qjJXK7+Mufu2RRr6AbTt2394nE+wlBUp1mVcofFPYa/wAoC31907bkDM1goqBdZHjQWcKPwiWTK+IazHrZR8pLKHZ7AKvui4kh8E23QBvhv8ryLDG7e7W8vuAwZTsykH4Rpolo4uphTUILagSbE4fy2XSPhaZpgq5uRcXPaPVxCgHWV1kyo5/FMyHW5EyMdimU3E18bxKm1153tKzYAsuYjSZ330S0ScAqq5BbQzr1MwcBgKaBSNDNtWFppFdFJUGWiDXlSslzvJqIsLR2Mnig3ivKQwoxjFoJaMCB1NzFJbxQsKIg8IPFFKJIMfUsh7kD9f0mIauoiimc8loZ30MipUlcIzXuhYrY25mPFM1kovYdtWPa3xnPe19XyU11/tMx9AR+saKV9QnhlP2aqEtWYkm/hi5JJ/m6zefqPWKKZ6mSoYBoN5h++kt45tAOto8UyZrE6LhT2R1/CB8haeOOxypfcachtpyiinV+b6Y62UX+G4tVNK4ICqb21zFra9uc16mLV1cG5CGnfML3Oljfmb21sNbG2huoo9dLcTBuju/ZtMuFp3Nyz1X6fediB8CB6TqKDXX0iimaLI0OszsdUu7AdvoI8UljRLh7JYc21Ms0W80UUcRM4jjeKZcRUTYK9/jr+sjD51J5W5x4oIxWSLh+ApsS5HOaGIAykW0AiilJdDMek7g72UmaeGxDXtyjxSYgyyX80kSprFFNQJM8WeKKMYxeAXiijAHxIooohn//2Q==
5 Dr Hammad Male 97 3369856784 MBBS_Cardiologist_Specialist Multan https://st2.depositphotos.com/1005682/5941/i/950/depositphotos_59417187-stock-photo-indian-male-doctor-outdoor.jpg
6 Dr Sallar Male 43 3322545874 MBBS_Cardiologist_Specialist Multan https://thumbs.dreamstime.com/b/smiling-young-handsome-professional-male-doctor-looking-distance-glasses-white-coat-standing-indoors-folded-arms-210579226.jpg
7 Dr Faria Female 84 3366545120 MBBS_Cardiologist_Specialist Multan data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgVFhUZGBgaHBgaGhoaGhoYGhwZGBoaGRoaGhwcIS4lHB4rIRgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHxISHzQrJCs0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NP/AABEIARMAtwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAADAQIEBQYABwj/xAA/EAACAQIDBQUGAggHAAMAAAABAgADEQQhMQUSQVFhBiJxgZETMqGxwdFS8AcUI0JicpLhM0OCorLC8RU0RP/EABsBAAEFAQEAAAAAAAAAAAAAAAEAAgMEBQYH/8QAKhEAAgIBBAECBgMBAQAAAAAAAAECEQMEEiExQVFxBRMiIzJhM4GhFJH/2gAMAwEAAhEDEQA/AIQj1WcBND2c2bvnfYZDT7zayTUI7mc9ig8ktqIuB2C7i57o+Mmv2ZYDJpqByGQijxmbLVTbtGpHSY0qfJ5/i8C9P3hlzkYT0LE4VXUgiYraeCNN7cOEtYM+/h9lPUad4/qj0QxJODGZ8JGkrBnMybMvtyIdP/JH3HVdTB04R9TGU5x8+2dfHpCtoZHwzZmSuEj0siYl+IfIQaxz6Qa6wjDKNY4dTGUG5zhUGUZUGcCY0a4ynU9IraREWOsNHcYzEGK7ZwNd4asAehpG1I7De7OqQLsTAMYkVhEhsQiJcgc8p6FgKISmqjlMLs5L1EHUT0JBkPCdNrJdI5rQR7kDe5O6POKKQGhzjVbusZl02u6VWJJIucuVpWhic7rwXMuaOOr8msRpU9oMKGS/EQezNpmo5FrCWmPW6HwiSljmrA5RywddGBkjCLmYJ1zPiYXCcZpZn9t+xladfdXuOcZmMQTme5Mck4+fbOuj0cZGdwDlDVjYSGgJMMV9Ia5JFI3MMYKksI0a+xwVYGprDLBuM41diEcZRU0iNpFTSFdAYOpK/FC5lg8A9OSRdciaD4YdwRKghKQ7sa4je2ACwixQs6OAH2Uv7VPGb0aTB7H/AMVPGby+U6PWfkjntD+Df7IeFrBiy34yMuwlLlzxgMFQLVXYG2ekuAj6XykLbg/pZYilNfUumQsNglWoSo4WkvHGyHwhqdML4yq7QYndS3E5RsbnNIMqhBsyb6nxMJhjrBQlLWaeZfbfsZOnf3l7hGGs5ZxOUahnHS7Z166B1BOpJHtFAgb4HDV1itETWOYRCoKgygqmsMukA4zjV2KhtSOp6TnWchyjkIawziOI4ZmLUEQjl0jagj1jakKGglnRROjgUwuyf8VZuUbKYjZA/arNyU7s6PWfmvY57Qfxv3KvZbrvvc53luCOczeFoBndr27xi1KVW/dcgRksak+ySGVxXVl5i8ciKTeY3H401HJ4cJPx2znOd7nrII2c8nwxxw5vkraiWWfFcEUQtEQ36g/KNSmVuDJs0k8cqZDpoSWVWhriIgyi3veKizj5eTrY9A2jrTmEfbKMseCQRxjaceRCxBBpBGEEHxgQjmEa0e4gwI9dA8nIM46rOXWdVEC7EKukY0cukRo5DRpWdFadCIdsp7VEPWbyq1kv0nnuGNnUnmJsq+OX2evCdRqoNziczopKMJWypwW828V/ETHnFOuRBMDszEbqGw4n4yauJX94QSVN8Bg7iqdMA+0jxU+kCm1V0MnVqibpmZe28baXjseOMnyhmbLKFU7NE20k3Ta15VKd8sesh2kzCaHxhzY4wxyaBp8zyZopgVS14RYi5mwkmnRUe9n8pzMNPPK3X/p1uOEpdEZhFCyatQDQARrYwDK9/DP5Syvh3HMiZYH6kARZJOKRsiB55HyvEakp93XkZHk0U4q48glhaB2ygQM4cCDOsorvkhOYTkGUVtIq6Q+AA11iVjHLrGV9YV2IVREYRyxHhEMaLGtOjqBQFZbV3tTGfASphmqMQBO0nHdTOJhLami1wNhTuLXz9ZYphlZc7cJQ06Tqt+E5Mc44ytLE5NtMtRzKKSlHwXO0MKoTKZxRJVTGOwsTAIhOgkuKLjH6mRZpqbuKEkrDaSMyEaxKtbcWw1MbqKcGvUufCdPLNqEvC5ZLVwLgeZiNWEh02sM+HxPLykLaG0RTQ1PeOiL+JucoLbCNLo7iowj+kSNsbWFIDix0X3j6cfpM1iNoYipYl2RWOikqT0JEjYfC1ajmq9yzWJ6dByEs0wbsRlkLZSvLJbMzNqpT4jwv9ZAfEVUHdq1CbkbpZiONsvKTtn9onQhKwyy7wyIvoSNLeGUn4zZTBFYLn7xPDIWH1lJUp90hhwOuefhwjY5GQwzzg7s3NCuHAIN+RjX1mL7ObWZH9mxJU+6TwPLwP0mwZ72POVtViTXzI/2XZOM4rJH+xHvCLpB1msIRDlKL6IRiNnOrazkHenVdYPIh6iNqR4jGhQGAYzp1SdHBBzQ7HFIp3rX6zPCTKGEci4nY5Ypxpuji8EmpWlZpsS1Mrui2cZRwFMLwMz4wjgjxGclPTqbwzMrPHSpSLiy7ncollV2clsrSRSwKAASkxNSothBtWqnn5Q/Kk1+QPmwUvxJu26KU1FveOgmVr1O8JL2jimZ7Nqo/PzlY797y+JlebfTd0dh8PwQx4VOKpvlkp6vdtzy9dT84uG2X7ZwWJ3UyUdeJ/PKCVCWUDh8z/aavZOE3bZdZUzzpUh+rnUdvqPw+yEUZDzMkrspNbfST/ZxyiVDMIlXCqVKkdJidr7DCFiND5Gb5720lZjqIYEGHdQttni2PRkbU5G46EfWbbs7jva0QT7wyPiPzeUnarAGmxBGvH5G8F2Jr2qOl9c7fX5SdfVBr1RNppNScPDX+mzfOwkoLZZGZc5IU5TJkPa5GDWNqjOPAzja0S7EPGkDWMMggcQschpGZ7zo8U50I4GBNHgqoCAdB8pmyYYVmyznZ5Me5UcVhybG2aGrik0yjkxSTN7984oMi+QvUm/6nfRfVK6MZIp1EOQmaBMeuIZAxB4GCeGo8Mfhzb8ii126KzF1d6pUb+IjyBt9JGoZkkxiPcE9Y9ch4zObPQIxUYqK8B8PjESou/cnM2AvNAna2igsabqOe4ZkDjzSLOFLEiwFj8+EdsvaNfEFwiAlBdhpxtxlaa3Ssx9XO8j564PRcBtylVHccHmOI8RJ61RPNdk4lWcXQo4NiND58xN6lJ9ze6SGSohRP/WF4wVQo2jD1nnfaDalMNZ3e/wCFTbzJg8BVwwI3t9GP4mN/PPKHbasF8mi7Z7OD4dzYbyDeHlmZ5r2Za2JXhcEfEfaen4dCyMm+XRlIzztlwM8r2ICMWg5FgfIMD8o/Dw6JcTrJF/s9KbMCESBQ3AhUEzci2za/bLM1UmhV1jK4zj0GcbXjfIwcsHVjhGPCNGXynRSMp0cGyII60aI6dtZw1IUCOEbHCIISioLKCbAkAnkCczDbawJoMysbjduraBgcgfzykaaHayHE4DeUXqUgepIX3h5gb3lK2onKCtddGj8OxwyZkpeGmefYdtfGPqVtbSEtYKxF+snYfZOJc3XD1Do2a7txzu1gfDWZcpUd08kUrbNXg+z+/SFwMxn6QdDY1WkSENwdTui58SNfOX2BxI3RqMtCLEdCOBk/24tKlsxZPc7Zn8B2fRX32HfPrNJiVATd4aSBSxA37swA4Dj4ydWqK4G6YPAPJ53tXsWN8uWYjeJG7YEDln9xLPFKKyLS9k2QUAtqN3LI3vfrNUhBurRUpKhvaLc6BtXZWYHZfsUtcmw1Os8rwCAYxujvw4Xb0nr+1MYFRj0M8twyqlVd43eoXyHABST45j4x2L8ixhjck36o1GHPd8z8zJKyLhtD439c5KXSUdSqyP3J8yqbOQ5xtfWKmsTEGRrsiFWMOs5GjSc4WIbUWdCuZ0I0euyH3t2Tf/hTwEcNsLvXjk2+N61suc6tyzPpHLxjgXbKXFYYo1jBAyXtPFb73EBSoM2glmMntTkU5RW9qHQy+RPKXHZLaoFXcPu1BlyDD7i/oJUVRYW4zYdk6aDC5C1y5JGRJ3jM7V5rdeDqtJpI6fSKUo/VLz6FQnZOjSxBc0TXL1CaSBgq00XdYlrkAnebdAzyHjNVgXc3303GvYrcNpxBHCPSoAQCc7fEyO+Os/jM2UrC5SfLM/taoyYpkK2V0DoeDEHdceXc9YbDYi5zl5j8EldQDkVO8rDUG1vMcxMfi8M6OUclG4FdCOakiMY5NNEjaez1chwCHXMESFTwz1+6SyhSL2LKCetrX8JDr06oyNV2HUD4hbRuHq1x7tUXGmZ+UO39k0YNq7NglIIoF7kWzPONfESnpY7EEd9EI/EDY+kdVq5axrRHXPJTdtNs+zo3GZZgqg+p+AMwOxsSz4tGY3N2HQDdbIchD9sNp+2r7im6U7rlxY++fkPIyJ2e/wDsIep+RliEdqQscm8qS6tHo+G4+X2+kljSQsKdfL6yaNJn6pfcZez/AMjETWJiTOTWMxJkHkgGIYjHOIpyiLmY+hoR2yiRagyiQiJdLZ6k+MM2zklamOYD0kzDbRBB3tfzpOram0pJnLfbUnFr1IWSPnoDLirtRFSyDMiwNshKZnXeuxyOg5yBiEdWLJ3lJvu8uduUj1E06Xk2Pg2h3XkmuPBJrMTn8ZouyeMIpun4Sbf6sx8bzKHFZXGYM7CbXekxZF3gfeXS69Oov+dZRyLcjodTic4OK/o22LxRc3IsYNalxIGE2klUXVs8rj94eI4SSOkqONGM006Zc4DF8I/aWHWqmYzGYPEHpKmmTfKaDBJcZiNT8A65MiuHUkhsiMiPqI6ls9DmH+UlduMMUQV0GYYKw4FW0vbiDb1mSTaTgcBFTJlyjS4shRrMD2n7UhQaVBrsbhnGi8wDxb5Sp7UbcqOfZ75A4gG2XAGZlRJYQ8shnOuEFQZS17Pr+3TxJ+ErAJa7BNq6SQdpv5V7o9DwuklqZEw+klCZ2rX3GaOf82cusFiTCLrI+La0rpckAwnKOonORjU4STRkrQgz6RJzzo2xpa9qthig4dAdxvPdPLwnbB2JvkO47uoB1by5Q9DtbTxB3Bu1Q5sUzACg2uCBa5mrGIRLXBFxkAOHjN6OplKCiY3/ADxU3MdTpZW3BblbL00gsRsajU96mo6r3T/t1iVNrgaADxgl2+t7EgeUbt/RYjNx5Toots9hQQWw7kNqVa263gwHdPkZ5/j8LUovuuhRhqpyy5g6MOoynsqY8E910fpcAxu0MFRxK7tZARwPFTzVhoYGmi7g10o8S5X+nh+IpsGFSm5VhoRl/wCjpLbZvamxCVxuNpvj3D4/h+Ulbc2C+GqFCGemc0exta9t1iBYNnKDHYQHhI5Rs0J44Z47onouAr3IIIImqwz3Ani3ZDHvQxCUGYmnUJUXz3WsSLcs8rdRPYsI0rSjTMucXB0x+2MD7ai9P8SkC/4tVPqBPHtotuBg3dK3DX4Eaz29Z5P+mDZbLu4hB3HISpbg9rqfBgLeI6wxVsapUmeU13LuzHif/IoWPRLeMKUylgiGUkyvLDYn+MvgT+fWBqU7ACS9hJ+0J6fMj7RIs6VXlj7npexaYYODyH1hK9ArwykLZdbca/DjL2qQV+vLrDlwRyx579TVzxTlyVFI5wGNEljcBPzGkj4xRzmbPTTxu30Vp4ZRVvohUqPGSV1nJpEXWRN2yMKxiwbNOg5AZPs+z4bEMrLuVACGpsd0P1Q6BuI4HOeoYbbBbDrUKe0pZd5Dd05h01FonaPYOGxdMh3CVEv7Nx7ynhfmp5TDdk+0FTDYlqdQAgkrUUmw3lGTg6ZgeeU2NtMy7PU8FgqNVQ6MHB46+snLstLaD0EzK4asH9vhECBs2QnuPfO4B0Mttl7aNRtx/wBnUGtNhY+XMeEfYSyGy6P4F9M/WFTDougA8z94ZC0IBfUCK2Iq9pYVHQo4urC3hPKtq4Q03em5zU28RwYeIsZ7FUw/L0mY7Xdn2r0t9FPtaYysM2Uap15jr4xXwXdHqPly2y6Z5M4AdHBzR1cHqjA/Se57Lwu8oc6HQcxzniL0jYgrnmD0nu2znHs0zt3E/wCIke1N2ybXqqkvJM/V15fGVPaHYoxOHqUGzDqQDxVhmreTAHyluvQxd6JwTM5SaPlOvhWR2RgQykqRyIuCPHKSqOFJtfj8uc+gNt9icHiW9oybtQ6uh3SerKbqx6kX6zO1/wBFwvdMSR/PTBPqGHyiaYU0eQY7Numv58pN2CmbHw+s32M/RNV1TEox4BqbIP6gzfKZo7AxGEYrXTdJPdYEMjADVWGuumR6RJUy5oqeZf2WtJrWltVxW7SJvme6PH83mfxD7oQ/xKPW4+slV3ui8ryVM3JwUqFSrLnDbGqVaJqp3t023f3iLAkjmc9JRsnGeidjDahY8GH/ABWNyR3x2sq6+bhiteqMQEIyIII1ByI8RA1Hznp+0tn0qws6Z2sHGTDwP0Mx+J7JYjebcCuo0O8AWHgdDM2enlF8cmZHPGXfBn75TotdChIYEEGxBFiD1E6RUSWax9nO5uwtM52z7Ks25XoJ31O64v7y8D4j6zb18eUG8+4o5k2+kiUNuJUbdVkvwBJF/C4zmtcmjN4QPse9VaIp1FIKGw6qcxLTamAp1lG/dXGa1FyZT0P0ipUfkvqftCUaxYsrAZAadfLpBbFRA2Rtl0f9XxB749ypwcfeXy1wdPjMvtymHQKWCvvfszY3DD5A6ecm9msaaqHe99TusOIIyzhi35EXpYnjDUql8iM/nBIIXeAFzHCMR267Ke0DYjDr+1GboP8AMA4j+L5+k1GyKJWkisDdURSeoUAx2KNzZm3bWJANsjz4nThaFo1ic13WHHgfSKh8sspRUX0iUBbqIjmcjg/aKc4BhytHXgUfgdYURCFvMv2/Zf1Rt6195d2+u9vDTru73leaZp5V+kja2/iFoKe7TF25b7WPwW39RiLOkg55lXjkzuJzRrfu2I8pJVro45Zj/lB0l/ZluB3h6D/2FwYFrHiov5d36Qrs6UNRe4znoPZhwKQvkCWP0+k87ojIT0PY2FYUkU5ZX/qz+sPgzficqgl+y7/WlGmZjhUY9IGlTCwlSsoGZtEYZHx2zKdYAso3tN61zYcOoiRV2jf3FZ/AZepixuxegtz9TBdocQWquGzSkjPu/iIAP/YekFV2benvs6X3BUARdxgRY5WOa9dQZMYE4uqAAe42R0Pdp5GQsPsmq/dFJaSmwJvfu67ouTl0GUenSQjU7FxLPRR2zNrE8yCRfztJ9Bu+38q/WAwlAIiouigAeUfQPfb+Vf8AtIW+QlbtGnvPfetYE/G9vzyi06nsMYp0Sutjy3x94TE0y77ot+7e/AXa9usjdrXC0Ua9mV1ZfEa/CFPoLXBrWqxlfE7u4LX1Y/6bff4SqobRV0VgdQDCtXBCtwG8p87EfKPQyyzqlbXtqczr6wBohTvKSPDjI2Bxo3txjr7vXp4yWyEZqbgwhDU64OosfgYYGV61BfOS6bZQCFqa3h1aCYZREbKIQPamOWjSeq3uqpY9bDIeJNh5zwjE10eo1V2cs5LHTUm5m4/SxtsKtPDg+/33/lU2QebXP+iec4ZHfRbD8TZD+8jb5o2Ph+PbHf5Ze4bHo6MqKVVcrm2ZI6eOsLSYXtfQASJhytNCBoM2PMnjGYUE3dshf/wDmdI9M1YlrSFzb+I/ObfAbTJst7mYI1ALXJA6a+EssNtXgo3R8T4njHmN8Slc1H0R6BTr30zMcuGDG7m55cBM3sfaV3sNbX9JatiGdrAxGZRoKa2E6Q0qkAC86CgGUp4Vv1qo5HcKCx5sbAj0UessFTTunyaRTjBn36eYt+9BnFLe++n+7hIt1iLdKYHP1MJQPff+VfrKobR/jT0aSMJi03iS4JNhkDwv94LEGKd4mwsbDPoT95Tdt0vRUDgxPwMtGrjO7XHID7mVnaVWqU03ASQ2d7aWii7dDn0ZPCY2ooBRsracJbbO7RlSVqDuNk1vgR1Ez2FJAKkG4JBHKPdhxkisabisu+oem4ddQymxB4XHAyVgu0LJ3KijqwFrniSOc8/w2Kemd5HKn868DLddthxaqgJ/EndPmNDE5BSPRqeMSoLqQ3Q5H1j0qgZZjofoRrMJgcUim6VR1SoCB6j6S/TaaEZNY8s2XybWDcHaaVHlftza9PDUnq1DZV0HFmOirzJkKjtQc551+k/avtilFdEbeJ4b9iAvjZj69InIfjxuUqoo9r9pXxFU1XCg6DK+6oJIUHzPmZWtj2Y+8TKoq44QyNzyjGa2PI62pUWv62id5t57Zqpso3uZte8sNmV2qnfbJFyVRp4+OolFQwrP32yW9h18JpFoWVQDYZeQAzjo2WsTlJ2+hMXULMAOGf5+M5KjLqPOduZ3AkmhTLEBhlx8JIjH1bl852aHYalE3j71TTonD119JMxu3BQU7ti3MyvGIsN7plMntvEs7hRny6k6DrC2VaPRKHaEulMHKrUJAHMKpctblYepESCwmC9mFFu+FAJ/eUWHdXloL87To4bSMxWbGnJKS35s30AkdMFtHWyfGVzfpCxJ0pIPM/aMbt9i+CoPWV6BRoFwuP8Aw0/jJAwe0RmqUr/zMJk27cY0/vIPI/eNTtpjD/mC38v94KQUjY06uJB3alkbjncSfRxNUZHdYeP3nnuJ2hjXbfu+fEDKMGLxh1ap6ERKSQdrfg2OBrBcVWV0yYBra8pZVlpH9w+kx+xEqmuntN/vWzOeQ4Xm5TCDlfzi3vwOUF5KmphKZ90N6QX6kvL6TQLg15W9DCjBD8gRu6TDtijLVMK492mp/wBdv+sRDiV92iv9f9psEwQ5fAQ64Mfm0DcmO+lGSwlbElhvIoH839pS7SwVRncuN4uxLLla/Twy9J6amF8ZVbU2bc373lB9SXBNhy7G68nnNHZDjK1+RKgnzsc5LGzXt3lFv5APrNM2DAJ971g3w66W+F/jI90l5LUcr8Mk9neyFKoFqVqqj8Co672mTE3IB1yt6aS7bsBhze1arn1RvL3JnPZDhvi3IwtPLXf+EkWUa/nN2pUXydg6am61m8GVSPhac/Ya/wDn5dEt/wBpTK9jkW9ZMp1G/E39R+kesllXLGTlcnbJ7diARb2x/p/vItP9HKB0f27AoyuLJxUgjVunKGpVSR7x/qJinPj8Y7cQ0yfjOyRqf/pqL0UKvynQK3AyJHgTEh3DaPnYR06dGsSHrx8JJwCAsotq31nTo2XQ+J6tgsOu6O6NJY4fDrf3ROnSvDsmfRIw9BfajIaS0amLDKdOk0OmRy8DadJeQimmOU6dHjBFWHVB+SZ06FCOGUFidJ06J9CXZV4imOUjKg5Tp0rS7LUegTIOUas6dEyaJJZRfSTEpi2kSdJIlfN2GpIOUdbOdOkqICSNJ06dHDT/2Q==
8 Dr Kashif  Male 68 3366585874 MBBS_Cardiologist_Specialist Islamabad https://media.istockphoto.com/photos/pakistani-ethnicity-male-doctor-looking-away-outdoors-picture-id182709887

[['Dr Farah',
  'Female',
  64,
  3322578412,
  'MBBS_Cardiologist_Specialist',
  'Multan',
  'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjy54R-AknqoLrtu3k3LQffRll6BXm7y1YdTzjWdS34tQz2UrwKFlLaKEheFV3pmurMxs&usqp=CAU'],
 ['Dr Kashif',
  'Male',
  37,
  3365687412,
  'MBBS_Cardiologist_Specialist',
  'Multan',
  'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZM1dQ8crjbgC40Zw_c69n9ppCe63Lm6H4JhQMB8InLV_5Lv0NyXr2GSKWpbzQxT2ZEWU&usqp=CAU'],
 ['Dr Ramsha',
  'Female',
  62,
  3369874587,
  'MBBS_Cardiologist_Specialist',
  'Multan',
  'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI0zZ0HTExM_4lbMI84sR7rXvwOOliI_kKNw&usqp=CAU'],
 ['Dr Kashaf',
  'Female',
  83,
  3366545120,
  'MBBS_Cardiologist_Specialist',
  'Multan',
  'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBISFRISERIQEhISERIREhIREhIREhIYGBgZGRgUGBgcIS4lHB4rJBgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHxISHzQhJCsxNDQ2NDQ0NDQ0NDQxNDQ2NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDE0NDQxNDQ0Mf/AABEIALcBEwMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAACAAEDBAUGB//EAD4QAAIBAgQEAwUGAwcFAQAAAAECAAMRBBIhMQVBUWETIoEGcZGhsRQyUnLB8CNC0TNikqKywuEHFkNTghX/xAAZAQADAQEBAAAAAAAAAAAAAAAAAQIDBAX/xAAiEQACAgEFAQEBAQEAAAAAAAAAAQIRMQMSEyFRQQRhgSL/2gAMAwEAAhEDEQA/AOqAjiIR5sQKIxRQAYCVK1FSdRLiwKySZSrAJJ5KZwydISYZOkLLEFk8jHsiSrh0kq4dJCoMkW8parJ44kv2ZIvsyRLDErkYuOPgIwqdoYwqdo0cEx8jFxx8H+yp2j/ZE7QbmPcw5WHHHwf7InaMcKnaK5j6w5WLjj4OuDTtJBhU7SLMYrt1j5WHFHwm+yp2i+yp2kN26xXbrDmYcUfCX7KvaC2ETtBBbrFr1hzMOKPgQwSdo/2FO0DXrFmbrDmYcUfAjgE7QfsK9oxZusbM3WHMw4Y+AtgE7SN8AnaSkt1jWMOZhwx8IlohNBDiaNJu3ZqlSpCMYxExiYDBtFGzDrFAAhHjCKIB4owjmADrHq7Rlj1dpMsAiqYhHMaZjCWGDIwYQMBEoMINIs1tToB1nMca9pQuZabBVXd+Z/KJVhR0+IxlOmL1HVR/eIEz/wDuPC/+1dN9DPLcbxd6jE3OW/U3PvMqPiyb9Tz5xphR7JT47hj/AOVB7zNClVVxmUhgdiJ4VTxBHUepnQ8E43UoMCrErzQ/db05HvCwqz1e8e8z+F8Sp4hA6H8y81PQy9eFioKKDeK8Yg4oN494AFHgXj3gAUUG8eACjWj3jQAQjNFeMYFEbwY7bwTGgMdBUqPUAqZQrWAkGNrVErUxmOXQN3hYbCu71GVyvn290bHr56h3KKp+E6FV0crur/oeKxADtrzilemucB/xC8UKQ+SR0UUaPOc6RCFaDCggHEartHECrFIEQmDHMaZjFCBgQatQKpY6AAk+kAMP2q4mUQU0PmcXbsvSeb4/FFjYHTl+pmpx/iRqO7fiJAHQDQCYKLmMB/welTYwnoMOU0MPS2mimGvymctSmbR0rRzqNbQ/0l6gLd/lNN+EBjCPA6iIWQ5gBfLFzRYcMkaPs5xE0qqsScjHI/uPM+42M9HBnjWGxGtiLE6EdCOX6T1TgGK8TD0nvchcjHuul/lNIS7oznHqzSvHvBBjzQzCvFeDeODAkK8V414rxgFeK8G8UCgoo14rwARjRREwAiaCYTRo0Bkrw+orsyvYM17SdsDcuWP31ymX4xlubM1pxRToYUIoXoLRS1FJ3MrYhxFeMDHEkoQhwYUEDEIFUwxI6sUgRCY0RikDFMH2nxwp02F7XFvftp8xNuo1hpv9O8819tcV/F8MEnIozE6ksbk+7c6e6A0c7iapYkyzg0YC4A97bSthKBqOFE18Rw8gWvp2kydFRi32QLWqA6Mh7TVweNJsHABvyMx0wpU3y3sLajSPh1YMN9NJlNKSNouUWdgCqAO5sN5ocP4lhqnlWogPQ+X6zA9pHqKlIIPIUFz3mZwkCxerTzKCBoDm156DbvfS/qMlC1bN5TqVIt+1fDfAcVUHkqGxH4XGoPqJ1XsHiM1GoL7VbjtmUafIzB9rdMNTynNTNUZL6sq5GOUnsZrf9OKRGGdzs9Uhe4VQCfjcek30e0mc2t02jsbxAwQY83OcK8e8CEIwCvFeNFAArx7wRFAArxRooAPGMURjAiaNEYoIBRjHjGMAYo0UQwo6xowMADvHgxXghBCR1YYkdUyZDRCYoxjTMYmE8r9s6RGJqHk2Q/K3+0z1QzjfbjhxZRUUXykZvcdL+h/1E8pQHMez9L+Jr+EzaxNvWQYDAin4dQOW8RWBGWwXTTn74qjXb1mGo+zq0UqJqihULc7ae+ZuGykgXJZrHbY8xHxmKYHKASo3taLAVF3yuDcZWy3APTTnM0mo2aupSo7DHtT8KmDle2RGFwSpI009JLw3hdPRkJA3KjYzPx/gvTBRkzjXkrFgNiN77zT4E5y3udQNOQ7zLc1k22plH2wpLkoUwt89X7o0uApB2/MPjOo4fhEoU6dJNFpqFF9z1J7k3Mza2E8WvTqN9yjrY82Oo/T4CbIM6tG9tnD+it1LIQMIGCIgZucwV44MG8cRgFePeBAqVlXc2hYE4MeV0xSNsRJgYWAUUa8V4wCgloD1Qu8jLq2xgKwiYo0eCKFEYoxjEBFFFAYcYRRhEwDig5orwsQQMiqmSAyKqZMhoijR7xpAxMZSxKBlOYZt/KdrHlbnL2TS5IA6mY/FMYEUhCGIH3uvaxlbXkLRzuO4fUo6qf4dyVU65P7oPMb7zKqPc3ELEcYrVHCVGOQKwK6AZtwT6Sk7EG8ymrZvpOkWlpa6zXwGFykG3MHSYdDFWIvN3CcRTy3JFh0mE7R1adGrj8EtZB5dVIKkaG/vlmi4pUmcKWKIzBF+85AJyjvpKj8VUgKv/JmSmOL4gO7umFpstO4TNTZm0OY+tufpM4Rc5U8D1J7ItrJ2XC6/iJnVldHAZSuh1AuDL95Tw1AITkJy3+5oVU7m3MXve0tz0Eq6PNbt2wwY94IijJDvEDGjwAe8y+J4FqhHmIUHW3OakF1uLRSSkqYn2YxFOiB5tRLWC4lnNhsOcxfaDDZLEMb3lPAV6gOVdzObdKMqXSJwdqK69Y9SsFF7zn0o1ALsT1hVBUqLkFwNiZ0xk2gcv4aVakalmB0h08KV5ybB0siBTyEmMpFKKyRiPGilFDypxBqgW9PcamWpDiT5G9xjWSZLo56lj67AMANb8z1ihcPX+Gnr9TFOio+HJul6zowY4kaDWSXnMdoxiMYvImrjaSwJlMjqmCaw5GVq9eQxk15FWxdOkM1Rgo7mw9TFSfN75S4nT8QinbTQEm253/faEV9AWP4opW+cBR6Tl8XxGmb5b2PYzU4syqPDUKwAGrgEeg/rOYq4oKfuIR2UD6SJzk3RrGCqypxNLGnWS+VvK3Y9D84KODNCg1KoGW+UOLMh27MpOxG4jcP9nq9TMbolNSRne/m/KBJ3X0y0trKKLraW6aAamWzwCpc5alNrakeYG3bTWBW4aVW/iKWuPKBb53kSRpGRUxOMyjKmhOl+ct8Fp06jfZ6zuumYLluztl8t78gDe3P5yBKaUyCt3qb35D3S0+H+0smcMtRbBaiNZyBtmuDe3WTGcU/P6KcZSNXA8XbD1DRxGVKWiLUpBqZQbK5UkqwtYE20nT4bEOC9OoQxRVdaiKclRHzZX00UjKwPLYjeceOIU6RNOu7Ymi1O12pqzU3OmXOLXsATfU7TWwdAUyjJUr1aIpU0UOQtPym+XILHTfzDmek7FNOv6crjR1Ee8jpOGF7EcuxPaHCqJCvHBgXhAwEJ3Ci5lYcQXtDxNLOpE52u/hkr0+UcVbIlJotcQtVMgwNDwySdY2FqZpqUcOWBMHCOSIttktBzUGotBxLmmLrb6StV4ilJWuRcTm6vG6lRrDRb9L3kWjQ1a3tC6tYqRL3DOMGobNzlZeD+IgY72vKOBw1SnVVWFxfeZ7pJ9jR2N48FYp0IoKQYlSUYDcgiSxmhYMx8HgmVFB3A1imrFK3sz4kEkIwRHi+FkTqZSq4ck3miZGwkNFJmZRzZrHrLXgZjuAOZPKVK1TK4A1JNhLWNewVb9zbnEkvuENt/A6ldaYyp6ud/TpMqu5ba9wbgw3aA+3eOU76XSFGNZyYXG6zZvKhIIF7a6zHRqjGwpnU2FyF+s1+Nsaas43EoL4hIZFzLdTe9iOcwkdEWjRwnB0JDVAh20Uf7p0VJUUCw0GnmJI+cw0xTggZBqAbk3+UnWo7G5sfjpMrYzYdlKlVsCRa4AsPTnMetwFnBy1Lj8JFge15Fjfta+aj4bJzGQl076mxHe39ZcwFeuQPEH+Em3rbSTJJ5KjawZNPhuUkbEGxEu0qC0ySVckgjQHmOs6XB0kfqrdRbX4yfE0EVGLXbKrHzEm2nec8tKTVtmqmk6o5AVAw8N3tTuCad85JBuCx5TosFhQ6Zl0TTprblaZfDOHGs5CgWtqeQ/fSdNRpimPD2AGh/WX+aMnJSeETrSio0i7gSmQJlGUG1v1kOIw+W5W5Ub9RHwqkXXt/yDJ8BUDFgeY1HaemmqOJrsz48PEU8jFeh07jlI4iAiZzfF8GzPdDqd+k3MWpKmxtpMT/9FKd8zXYct4nKhSSeStVovQTOdbambnDKxqIG2uJn4nGCqgA5zUwKBEA7RW3LPQkksHL+0GFBcWO51ELg/C1LgnlI+LsfFPyl3htbIMx2EmknYr7OmqOKaachMrCP4j3Nu0o43jashCm55CQcGxDs4B6SXNOSRf060R4IjzpQx5FiKgRSx2AvJLzP421qNT8scVbomTpNlJeIVm8y0/KdRFNDB0xkT8oil2vDOpelwGKCIiZBqFI6kOA0TGZqU/O1Q7ICF/MefoPrBrtc37Q6zjYc5Gx0kS6VFLJGBGYfKGnXpAXaR9oowvaFbpbvf4TK4NjcqhjfLbI4GpFuY/fOa3tGwCEnpb46frMT2cwPiZ3ckoCFsCbFrC7H0t8Yq6HupnSBVddx1RhqNf0hojKpNi1uSea/oNZTd0pqcjCwIGXzMPltKbcZfy5AtyWBvmHutYzBp/DdGseL06di3iI29mpVAf8ATLFHjGGKl0bI1wMrq9MMTp5cwt6TExQqNTap4j2y51FyVW1rix7SrRU2XO4ZQgY+W7FmPIL0bINRpa/WCg5RsJSUXRfq+2NXOiUVpZSxDM4LlgBfS2W2/SNxLi+JrIueplDVLZaYKghevM8ufKYZscTYXtTS/e5Aa+vPzfKb9NhfC0x1pM4ACgB3Ulr89z8DOl6UVpp12zn3tyZ1/smmWmmmoPPnsDNXiFPW498r8Lo5Bk6E2mnilvBLqgbt2UcLW0BPI2PbvJMD/b1LbKMvxsRIESx98uUmAYHmy3PYAaRWMfilO4Vxy8p93L995nTbyZ1Kn+YEf0MwyLaHcaGUmZyRFiycjW3tPO6yMHYtoSxJnpBnIe0fDqhfOi301tFJfSGBwuoWdQBcc52KCwHunJ+ylB7kupHS4nXkQj2gSMfjHDlYFxvyM59ywXKefznV4xjovWUeJ8OuFyjUTPVi2rQzDwPD897TY4XgHR7kaCaXDMIKajTWXYR0V1J5Ae8UG8e86EUPKnE6JqU3UbkS1eCTGnXZLVqjHocTZVClGuBY6R5p5B0EePevCdsvSQGPBvEDBlBSvi3stubkL6c/lJryhjX86j8Iv6mJjKGJq+bSSkyniW1JlpToPcJjJ2WkGzWEFdFg1W5Q30EIjkcj7W4j+zpjdmuR2H/P0gYJMiJTBsBqRfS51P77Sri6lOriGLG+VsqqTo1r6/v8UtYfVgfWRN0qL0lbs0EQEMva/umOKRDBeZc2/Sa+GcZiJSxaWcW/Gv1mK6Ohm3hqQeky8nUgA8ri1pzNGqchsSpAvdB57c7b3HI6ba62tO3w2DdVOlgbOBz824+Ov/1PPw9jUuNVaqgNtVILC4Hy9Z0/mjuUo/6c+u+0wMLXBqu5v9wAX+8bAKLnrpNzE1Cy02y2ORGynRhlZSR8vTSc/gkW9TMbWC26k6zpHdtGK2ZfFQZhc+UsAQNL8zYdTN/0f8xijGHbZ6RwisK1OjV3LIA5/vDRwfUGaVcaD3fScx7BVw1Goo/kxBFiLFSURrfMH1nVVluP3zmKdoszSsmCWObqqgfUxiskxLWK9lEljRNQfU9pm8RTK56NZvjv85dwf3b/AIm+Uh4qLqje8f0+kcWTJdGW9dV3MgbF02OXQ3mBxtamfc5TppLfDaOQBmv6yFqNy20ZWayuiaAbyyrXExMZi8puBeR4fi5H3haaKQWajnM4HSXCLzIwOMVnJJ1mrmjTGFGJjXjXlDCvFeDeKCGFeMY94JlMBopGWiioCWOJHmjhpRId5k13uxbqT8BoJoVamVWbopMxA/ltz3kyZSRFW1BllG0X8o+kqsdIdOqLLcgX0AJ3tyEwyaE19R743EK3ho7fhRj8BFTN2Hxmf7R1bUnH4yqAdcx1HwvLXSJZyPDkOa7WOmbvta4+c2MJSZiSFJt8PjK/CMMC9QvZmVBa33SGJN/8s3qZteZ6uTTSdIpYTCNnuzW15a/OW8XgfMGU7EGxHSKg3mlvGtZbiZSRqmzqaI8qEdCvx2+YE8jx6WqV9LXqVD/mv/uE9Z4c+akp5jKfgAZ5NxSoDVYrezFjz1zIup/wzp/M2pow1cA8N2a2pZ0W3PfT6zfaoXALLlPikAHW4azAg2A1Fjp8SQb4PDAcqeV2zVDolw+gOoO+m+k3DULBwVZGSoN7G+gNz1uB77d5f6JW0RBHU/8AT+qjJXK7+Mufu2RRr6AbTt2394nE+wlBUp1mVcofFPYa/wAoC31907bkDM1goqBdZHjQWcKPwiWTK+IazHrZR8pLKHZ7AKvui4kh8E23QBvhv8ryLDG7e7W8vuAwZTsykH4Rpolo4uphTUILagSbE4fy2XSPhaZpgq5uRcXPaPVxCgHWV1kyo5/FMyHW5EyMdimU3E18bxKm1153tKzYAsuYjSZ330S0ScAqq5BbQzr1MwcBgKaBSNDNtWFppFdFJUGWiDXlSslzvJqIsLR2Mnig3ivKQwoxjFoJaMCB1NzFJbxQsKIg8IPFFKJIMfUsh7kD9f0mIauoiimc8loZ30MipUlcIzXuhYrY25mPFM1kovYdtWPa3xnPe19XyU11/tMx9AR+saKV9QnhlP2aqEtWYkm/hi5JJ/m6zefqPWKKZ6mSoYBoN5h++kt45tAOto8UyZrE6LhT2R1/CB8haeOOxypfcachtpyiinV+b6Y62UX+G4tVNK4ICqb21zFra9uc16mLV1cG5CGnfML3Oljfmb21sNbG2huoo9dLcTBuju/ZtMuFp3Nyz1X6fediB8CB6TqKDXX0iimaLI0OszsdUu7AdvoI8UljRLh7JYc21Ms0W80UUcRM4jjeKZcRUTYK9/jr+sjD51J5W5x4oIxWSLh+ApsS5HOaGIAykW0AiilJdDMek7g72UmaeGxDXtyjxSYgyyX80kSprFFNQJM8WeKKMYxeAXiijAHxIooohn//2Q=='],
 ['Dr Hammad',
  'Male',
  97,
  3369856784,
  'MBBS_Cardiologist_Specialist',
  'Multan',
  'https://st2.depositphotos.com/1005682/5941/i/950/depositphotos_59417187-stock-photo-indian-male-doctor-outdoor.jpg'],
 ['Dr Sallar',
  'Male',
  43,
  3322545874,
  'MBBS_Cardiologist_Specialist',
  'Multan',
  'https://thumbs.dreamstime.com/b/smiling-young-handsome-professional-male-doctor-looking-distance-glasses-white-coat-standing-indoors-folded-arms-210579226.jpg'],
 ['Dr Faria',
  'Female',
  84,
  3366545120,
  'MBBS_Cardiologist_Specialist',
  'Multan',
  'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgVFhUZGBgaHBgaGhoaGhoYGhwZGBoaGRoaGhwcIS4lHB4rIRgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHxISHzQrJCs0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NP/AABEIARMAtwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAADAQIEBQYABwj/xAA/EAACAQIDBQUGAggHAAMAAAABAgADEQQhMQUSQVFhBiJxgZETMqGxwdFS8AcUI0JicpLhM0OCorLC8RU0RP/EABsBAAEFAQEAAAAAAAAAAAAAAAEAAgMEBQYH/8QAKhEAAgIBBAECBgMBAQAAAAAAAAECEQMEEiExQVFxBRMiIzJhM4GhFJH/2gAMAwEAAhEDEQA/AIQj1WcBND2c2bvnfYZDT7zayTUI7mc9ig8ktqIuB2C7i57o+Mmv2ZYDJpqByGQijxmbLVTbtGpHSY0qfJ5/i8C9P3hlzkYT0LE4VXUgiYraeCNN7cOEtYM+/h9lPUad4/qj0QxJODGZ8JGkrBnMybMvtyIdP/JH3HVdTB04R9TGU5x8+2dfHpCtoZHwzZmSuEj0siYl+IfIQaxz6Qa6wjDKNY4dTGUG5zhUGUZUGcCY0a4ynU9IraREWOsNHcYzEGK7ZwNd4asAehpG1I7De7OqQLsTAMYkVhEhsQiJcgc8p6FgKISmqjlMLs5L1EHUT0JBkPCdNrJdI5rQR7kDe5O6POKKQGhzjVbusZl02u6VWJJIucuVpWhic7rwXMuaOOr8msRpU9oMKGS/EQezNpmo5FrCWmPW6HwiSljmrA5RywddGBkjCLmYJ1zPiYXCcZpZn9t+xladfdXuOcZmMQTme5Mck4+fbOuj0cZGdwDlDVjYSGgJMMV9Ia5JFI3MMYKksI0a+xwVYGprDLBuM41diEcZRU0iNpFTSFdAYOpK/FC5lg8A9OSRdciaD4YdwRKghKQ7sa4je2ACwixQs6OAH2Uv7VPGb0aTB7H/AMVPGby+U6PWfkjntD+Df7IeFrBiy34yMuwlLlzxgMFQLVXYG2ekuAj6XykLbg/pZYilNfUumQsNglWoSo4WkvHGyHwhqdML4yq7QYndS3E5RsbnNIMqhBsyb6nxMJhjrBQlLWaeZfbfsZOnf3l7hGGs5ZxOUahnHS7Z166B1BOpJHtFAgb4HDV1itETWOYRCoKgygqmsMukA4zjV2KhtSOp6TnWchyjkIawziOI4ZmLUEQjl0jagj1jakKGglnRROjgUwuyf8VZuUbKYjZA/arNyU7s6PWfmvY57Qfxv3KvZbrvvc53luCOczeFoBndr27xi1KVW/dcgRksak+ySGVxXVl5i8ciKTeY3H401HJ4cJPx2znOd7nrII2c8nwxxw5vkraiWWfFcEUQtEQ36g/KNSmVuDJs0k8cqZDpoSWVWhriIgyi3veKizj5eTrY9A2jrTmEfbKMseCQRxjaceRCxBBpBGEEHxgQjmEa0e4gwI9dA8nIM46rOXWdVEC7EKukY0cukRo5DRpWdFadCIdsp7VEPWbyq1kv0nnuGNnUnmJsq+OX2evCdRqoNziczopKMJWypwW828V/ETHnFOuRBMDszEbqGw4n4yauJX94QSVN8Bg7iqdMA+0jxU+kCm1V0MnVqibpmZe28baXjseOMnyhmbLKFU7NE20k3Ta15VKd8sesh2kzCaHxhzY4wxyaBp8zyZopgVS14RYi5mwkmnRUe9n8pzMNPPK3X/p1uOEpdEZhFCyatQDQARrYwDK9/DP5Syvh3HMiZYH6kARZJOKRsiB55HyvEakp93XkZHk0U4q48glhaB2ygQM4cCDOsorvkhOYTkGUVtIq6Q+AA11iVjHLrGV9YV2IVREYRyxHhEMaLGtOjqBQFZbV3tTGfASphmqMQBO0nHdTOJhLami1wNhTuLXz9ZYphlZc7cJQ06Tqt+E5Mc44ytLE5NtMtRzKKSlHwXO0MKoTKZxRJVTGOwsTAIhOgkuKLjH6mRZpqbuKEkrDaSMyEaxKtbcWw1MbqKcGvUufCdPLNqEvC5ZLVwLgeZiNWEh02sM+HxPLykLaG0RTQ1PeOiL+JucoLbCNLo7iowj+kSNsbWFIDix0X3j6cfpM1iNoYipYl2RWOikqT0JEjYfC1ajmq9yzWJ6dByEs0wbsRlkLZSvLJbMzNqpT4jwv9ZAfEVUHdq1CbkbpZiONsvKTtn9onQhKwyy7wyIvoSNLeGUn4zZTBFYLn7xPDIWH1lJUp90hhwOuefhwjY5GQwzzg7s3NCuHAIN+RjX1mL7ObWZH9mxJU+6TwPLwP0mwZ72POVtViTXzI/2XZOM4rJH+xHvCLpB1msIRDlKL6IRiNnOrazkHenVdYPIh6iNqR4jGhQGAYzp1SdHBBzQ7HFIp3rX6zPCTKGEci4nY5Ypxpuji8EmpWlZpsS1Mrui2cZRwFMLwMz4wjgjxGclPTqbwzMrPHSpSLiy7ncollV2clsrSRSwKAASkxNSothBtWqnn5Q/Kk1+QPmwUvxJu26KU1FveOgmVr1O8JL2jimZ7Nqo/PzlY797y+JlebfTd0dh8PwQx4VOKpvlkp6vdtzy9dT84uG2X7ZwWJ3UyUdeJ/PKCVCWUDh8z/aavZOE3bZdZUzzpUh+rnUdvqPw+yEUZDzMkrspNbfST/ZxyiVDMIlXCqVKkdJidr7DCFiND5Gb5720lZjqIYEGHdQttni2PRkbU5G46EfWbbs7jva0QT7wyPiPzeUnarAGmxBGvH5G8F2Jr2qOl9c7fX5SdfVBr1RNppNScPDX+mzfOwkoLZZGZc5IU5TJkPa5GDWNqjOPAzja0S7EPGkDWMMggcQschpGZ7zo8U50I4GBNHgqoCAdB8pmyYYVmyznZ5Me5UcVhybG2aGrik0yjkxSTN7984oMi+QvUm/6nfRfVK6MZIp1EOQmaBMeuIZAxB4GCeGo8Mfhzb8ii126KzF1d6pUb+IjyBt9JGoZkkxiPcE9Y9ch4zObPQIxUYqK8B8PjESou/cnM2AvNAna2igsabqOe4ZkDjzSLOFLEiwFj8+EdsvaNfEFwiAlBdhpxtxlaa3Ssx9XO8j564PRcBtylVHccHmOI8RJ61RPNdk4lWcXQo4NiND58xN6lJ9ze6SGSohRP/WF4wVQo2jD1nnfaDalMNZ3e/wCFTbzJg8BVwwI3t9GP4mN/PPKHbasF8mi7Z7OD4dzYbyDeHlmZ5r2Za2JXhcEfEfaen4dCyMm+XRlIzztlwM8r2ICMWg5FgfIMD8o/Dw6JcTrJF/s9KbMCESBQ3AhUEzci2za/bLM1UmhV1jK4zj0GcbXjfIwcsHVjhGPCNGXynRSMp0cGyII60aI6dtZw1IUCOEbHCIISioLKCbAkAnkCczDbawJoMysbjduraBgcgfzykaaHayHE4DeUXqUgepIX3h5gb3lK2onKCtddGj8OxwyZkpeGmefYdtfGPqVtbSEtYKxF+snYfZOJc3XD1Do2a7txzu1gfDWZcpUd08kUrbNXg+z+/SFwMxn6QdDY1WkSENwdTui58SNfOX2BxI3RqMtCLEdCOBk/24tKlsxZPc7Zn8B2fRX32HfPrNJiVATd4aSBSxA37swA4Dj4ydWqK4G6YPAPJ53tXsWN8uWYjeJG7YEDln9xLPFKKyLS9k2QUAtqN3LI3vfrNUhBurRUpKhvaLc6BtXZWYHZfsUtcmw1Os8rwCAYxujvw4Xb0nr+1MYFRj0M8twyqlVd43eoXyHABST45j4x2L8ixhjck36o1GHPd8z8zJKyLhtD439c5KXSUdSqyP3J8yqbOQ5xtfWKmsTEGRrsiFWMOs5GjSc4WIbUWdCuZ0I0euyH3t2Tf/hTwEcNsLvXjk2+N61suc6tyzPpHLxjgXbKXFYYo1jBAyXtPFb73EBSoM2glmMntTkU5RW9qHQy+RPKXHZLaoFXcPu1BlyDD7i/oJUVRYW4zYdk6aDC5C1y5JGRJ3jM7V5rdeDqtJpI6fSKUo/VLz6FQnZOjSxBc0TXL1CaSBgq00XdYlrkAnebdAzyHjNVgXc3303GvYrcNpxBHCPSoAQCc7fEyO+Os/jM2UrC5SfLM/taoyYpkK2V0DoeDEHdceXc9YbDYi5zl5j8EldQDkVO8rDUG1vMcxMfi8M6OUclG4FdCOakiMY5NNEjaez1chwCHXMESFTwz1+6SyhSL2LKCetrX8JDr06oyNV2HUD4hbRuHq1x7tUXGmZ+UO39k0YNq7NglIIoF7kWzPONfESnpY7EEd9EI/EDY+kdVq5axrRHXPJTdtNs+zo3GZZgqg+p+AMwOxsSz4tGY3N2HQDdbIchD9sNp+2r7im6U7rlxY++fkPIyJ2e/wDsIep+RliEdqQscm8qS6tHo+G4+X2+kljSQsKdfL6yaNJn6pfcZez/AMjETWJiTOTWMxJkHkgGIYjHOIpyiLmY+hoR2yiRagyiQiJdLZ6k+MM2zklamOYD0kzDbRBB3tfzpOram0pJnLfbUnFr1IWSPnoDLirtRFSyDMiwNshKZnXeuxyOg5yBiEdWLJ3lJvu8uduUj1E06Xk2Pg2h3XkmuPBJrMTn8ZouyeMIpun4Sbf6sx8bzKHFZXGYM7CbXekxZF3gfeXS69Oov+dZRyLcjodTic4OK/o22LxRc3IsYNalxIGE2klUXVs8rj94eI4SSOkqONGM006Zc4DF8I/aWHWqmYzGYPEHpKmmTfKaDBJcZiNT8A65MiuHUkhsiMiPqI6ls9DmH+UlduMMUQV0GYYKw4FW0vbiDb1mSTaTgcBFTJlyjS4shRrMD2n7UhQaVBrsbhnGi8wDxb5Sp7UbcqOfZ75A4gG2XAGZlRJYQ8shnOuEFQZS17Pr+3TxJ+ErAJa7BNq6SQdpv5V7o9DwuklqZEw+klCZ2rX3GaOf82cusFiTCLrI+La0rpckAwnKOonORjU4STRkrQgz6RJzzo2xpa9qthig4dAdxvPdPLwnbB2JvkO47uoB1by5Q9DtbTxB3Bu1Q5sUzACg2uCBa5mrGIRLXBFxkAOHjN6OplKCiY3/ADxU3MdTpZW3BblbL00gsRsajU96mo6r3T/t1iVNrgaADxgl2+t7EgeUbt/RYjNx5Toots9hQQWw7kNqVa263gwHdPkZ5/j8LUovuuhRhqpyy5g6MOoynsqY8E910fpcAxu0MFRxK7tZARwPFTzVhoYGmi7g10o8S5X+nh+IpsGFSm5VhoRl/wCjpLbZvamxCVxuNpvj3D4/h+Ulbc2C+GqFCGemc0exta9t1iBYNnKDHYQHhI5Rs0J44Z47onouAr3IIIImqwz3Ani3ZDHvQxCUGYmnUJUXz3WsSLcs8rdRPYsI0rSjTMucXB0x+2MD7ai9P8SkC/4tVPqBPHtotuBg3dK3DX4Eaz29Z5P+mDZbLu4hB3HISpbg9rqfBgLeI6wxVsapUmeU13LuzHif/IoWPRLeMKUylgiGUkyvLDYn+MvgT+fWBqU7ACS9hJ+0J6fMj7RIs6VXlj7npexaYYODyH1hK9ArwykLZdbca/DjL2qQV+vLrDlwRyx579TVzxTlyVFI5wGNEljcBPzGkj4xRzmbPTTxu30Vp4ZRVvohUqPGSV1nJpEXWRN2yMKxiwbNOg5AZPs+z4bEMrLuVACGpsd0P1Q6BuI4HOeoYbbBbDrUKe0pZd5Dd05h01FonaPYOGxdMh3CVEv7Nx7ynhfmp5TDdk+0FTDYlqdQAgkrUUmw3lGTg6ZgeeU2NtMy7PU8FgqNVQ6MHB46+snLstLaD0EzK4asH9vhECBs2QnuPfO4B0Mttl7aNRtx/wBnUGtNhY+XMeEfYSyGy6P4F9M/WFTDougA8z94ZC0IBfUCK2Iq9pYVHQo4urC3hPKtq4Q03em5zU28RwYeIsZ7FUw/L0mY7Xdn2r0t9FPtaYysM2Uap15jr4xXwXdHqPly2y6Z5M4AdHBzR1cHqjA/Se57Lwu8oc6HQcxzniL0jYgrnmD0nu2znHs0zt3E/wCIke1N2ybXqqkvJM/V15fGVPaHYoxOHqUGzDqQDxVhmreTAHyluvQxd6JwTM5SaPlOvhWR2RgQykqRyIuCPHKSqOFJtfj8uc+gNt9icHiW9oybtQ6uh3SerKbqx6kX6zO1/wBFwvdMSR/PTBPqGHyiaYU0eQY7Numv58pN2CmbHw+s32M/RNV1TEox4BqbIP6gzfKZo7AxGEYrXTdJPdYEMjADVWGuumR6RJUy5oqeZf2WtJrWltVxW7SJvme6PH83mfxD7oQ/xKPW4+slV3ui8ryVM3JwUqFSrLnDbGqVaJqp3t023f3iLAkjmc9JRsnGeidjDahY8GH/ABWNyR3x2sq6+bhiteqMQEIyIII1ByI8RA1Hznp+0tn0qws6Z2sHGTDwP0Mx+J7JYjebcCuo0O8AWHgdDM2enlF8cmZHPGXfBn75TotdChIYEEGxBFiD1E6RUSWax9nO5uwtM52z7Ks25XoJ31O64v7y8D4j6zb18eUG8+4o5k2+kiUNuJUbdVkvwBJF/C4zmtcmjN4QPse9VaIp1FIKGw6qcxLTamAp1lG/dXGa1FyZT0P0ipUfkvqftCUaxYsrAZAadfLpBbFRA2Rtl0f9XxB749ypwcfeXy1wdPjMvtymHQKWCvvfszY3DD5A6ecm9msaaqHe99TusOIIyzhi35EXpYnjDUql8iM/nBIIXeAFzHCMR267Ke0DYjDr+1GboP8AMA4j+L5+k1GyKJWkisDdURSeoUAx2KNzZm3bWJANsjz4nThaFo1ic13WHHgfSKh8sspRUX0iUBbqIjmcjg/aKc4BhytHXgUfgdYURCFvMv2/Zf1Rt6195d2+u9vDTru73leaZp5V+kja2/iFoKe7TF25b7WPwW39RiLOkg55lXjkzuJzRrfu2I8pJVro45Zj/lB0l/ZluB3h6D/2FwYFrHiov5d36Qrs6UNRe4znoPZhwKQvkCWP0+k87ojIT0PY2FYUkU5ZX/qz+sPgzficqgl+y7/WlGmZjhUY9IGlTCwlSsoGZtEYZHx2zKdYAso3tN61zYcOoiRV2jf3FZ/AZepixuxegtz9TBdocQWquGzSkjPu/iIAP/YekFV2benvs6X3BUARdxgRY5WOa9dQZMYE4uqAAe42R0Pdp5GQsPsmq/dFJaSmwJvfu67ouTl0GUenSQjU7FxLPRR2zNrE8yCRfztJ9Bu+38q/WAwlAIiouigAeUfQPfb+Vf8AtIW+QlbtGnvPfetYE/G9vzyi06nsMYp0Sutjy3x94TE0y77ot+7e/AXa9usjdrXC0Ua9mV1ZfEa/CFPoLXBrWqxlfE7u4LX1Y/6bff4SqobRV0VgdQDCtXBCtwG8p87EfKPQyyzqlbXtqczr6wBohTvKSPDjI2Bxo3txjr7vXp4yWyEZqbgwhDU64OosfgYYGV61BfOS6bZQCFqa3h1aCYZREbKIQPamOWjSeq3uqpY9bDIeJNh5zwjE10eo1V2cs5LHTUm5m4/SxtsKtPDg+/33/lU2QebXP+iec4ZHfRbD8TZD+8jb5o2Ph+PbHf5Ze4bHo6MqKVVcrm2ZI6eOsLSYXtfQASJhytNCBoM2PMnjGYUE3dshf/wDmdI9M1YlrSFzb+I/ObfAbTJst7mYI1ALXJA6a+EssNtXgo3R8T4njHmN8Slc1H0R6BTr30zMcuGDG7m55cBM3sfaV3sNbX9JatiGdrAxGZRoKa2E6Q0qkAC86CgGUp4Vv1qo5HcKCx5sbAj0UessFTTunyaRTjBn36eYt+9BnFLe++n+7hIt1iLdKYHP1MJQPff+VfrKobR/jT0aSMJi03iS4JNhkDwv94LEGKd4mwsbDPoT95Tdt0vRUDgxPwMtGrjO7XHID7mVnaVWqU03ASQ2d7aWii7dDn0ZPCY2ooBRsracJbbO7RlSVqDuNk1vgR1Ez2FJAKkG4JBHKPdhxkisabisu+oem4ddQymxB4XHAyVgu0LJ3KijqwFrniSOc8/w2Kemd5HKn868DLddthxaqgJ/EndPmNDE5BSPRqeMSoLqQ3Q5H1j0qgZZjofoRrMJgcUim6VR1SoCB6j6S/TaaEZNY8s2XybWDcHaaVHlftza9PDUnq1DZV0HFmOirzJkKjtQc551+k/avtilFdEbeJ4b9iAvjZj69InIfjxuUqoo9r9pXxFU1XCg6DK+6oJIUHzPmZWtj2Y+8TKoq44QyNzyjGa2PI62pUWv62id5t57Zqpso3uZte8sNmV2qnfbJFyVRp4+OolFQwrP32yW9h18JpFoWVQDYZeQAzjo2WsTlJ2+hMXULMAOGf5+M5KjLqPOduZ3AkmhTLEBhlx8JIjH1bl852aHYalE3j71TTonD119JMxu3BQU7ti3MyvGIsN7plMntvEs7hRny6k6DrC2VaPRKHaEulMHKrUJAHMKpctblYepESCwmC9mFFu+FAJ/eUWHdXloL87To4bSMxWbGnJKS35s30AkdMFtHWyfGVzfpCxJ0pIPM/aMbt9i+CoPWV6BRoFwuP8Aw0/jJAwe0RmqUr/zMJk27cY0/vIPI/eNTtpjD/mC38v94KQUjY06uJB3alkbjncSfRxNUZHdYeP3nnuJ2hjXbfu+fEDKMGLxh1ap6ERKSQdrfg2OBrBcVWV0yYBra8pZVlpH9w+kx+xEqmuntN/vWzOeQ4Xm5TCDlfzi3vwOUF5KmphKZ90N6QX6kvL6TQLg15W9DCjBD8gRu6TDtijLVMK492mp/wBdv+sRDiV92iv9f9psEwQ5fAQ64Mfm0DcmO+lGSwlbElhvIoH839pS7SwVRncuN4uxLLla/Twy9J6amF8ZVbU2bc373lB9SXBNhy7G68nnNHZDjK1+RKgnzsc5LGzXt3lFv5APrNM2DAJ971g3w66W+F/jI90l5LUcr8Mk9neyFKoFqVqqj8Co672mTE3IB1yt6aS7bsBhze1arn1RvL3JnPZDhvi3IwtPLXf+EkWUa/nN2pUXydg6am61m8GVSPhac/Ya/wDn5dEt/wBpTK9jkW9ZMp1G/E39R+kesllXLGTlcnbJ7diARb2x/p/vItP9HKB0f27AoyuLJxUgjVunKGpVSR7x/qJinPj8Y7cQ0yfjOyRqf/pqL0UKvynQK3AyJHgTEh3DaPnYR06dGsSHrx8JJwCAsotq31nTo2XQ+J6tgsOu6O6NJY4fDrf3ROnSvDsmfRIw9BfajIaS0amLDKdOk0OmRy8DadJeQimmOU6dHjBFWHVB+SZ06FCOGUFidJ06J9CXZV4imOUjKg5Tp0rS7LUegTIOUas6dEyaJJZRfSTEpi2kSdJIlfN2GpIOUdbOdOkqICSNJ06dHDT/2Q=='],
 ['Dr Kashif ',
  'Male',
  68,
  3366585874,
  'MBBS_Cardiologist_Specialist',
  'Islamabad',
  'https://media.istockphoto.com/photos/pakistani-ethnicity-male-doctor-looking-away-outdoors-picture-id182709887']]

In [309]:
dump(df, './../savedModels/df.joblib')
dump( similarity_score,'./../savedModels/similarityscore.joblib')
dump( similarity,'./../savedModels/similarity.joblib')

dump( close_match,'./../savedModels/close_match.joblib')
dump( index_of_the_doctor,'./../savedModels/index_of_the_doctor.joblib')
dump( sorted_similar_location,'./../savedModels/sorted_similar_location.joblib')
dump( list_of_all_location,'./../savedModels/list_of_all_location.joblib')
dump( finding_close_match,'./../savedModels/finding_close_match.joblib')
dump( recommendation ,'./../savedModels/recommendation.joblib')

['./../savedModels/recommendation.joblib']